<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siac.com.androidui">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_teste"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_teste"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManipulaTextoActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="siac.com.leitor.LeitorActivity" />
        <activity android:name=".LerQrBarCodeActivity" />
        <activity android:name=".ComponentesActivity" />
    </application>

</manifest>